body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #111;
  margin: 0;
}

header {
  background-color: #b30000; /* rouge vif */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 10px;
}
